/*自定义样式*/

/*底部：Made with Love （Love的颜色）*/
.source-love {
    color: #ff8099;
}

.enter>.button {
    margin-bottom: 20px;
    height: 50px;
    width: 170px;
    opacity: 0.9 !important;
    font-size: 1.3em;
    font-family: custom;
}